body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
    background-color: black;
}

.header {
    border-bottom: 2px #32b9cd solid;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.header .container {
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #e3b062
}

.nome {
    color: #32b9cd;
    width: fit-content;
    font-weight: 900;
}

.destaque {
    margin-top: 0;
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.banner{
    height: fit-content;
    padding: 40px 0;
    color:white;
    background-image: url('./banner/bg-jelly-fish-para_outras_pags.png');
    background-size: cover;
}

.banner .container {
    height: 400px;
    font-size:36px;
    justify-content: center;
    align-items:center;
}

.container p{
    color: #E6005A;
}

.banner{
    width: 100%;
    height: fit-content;
    color:white;
    background-image: url('./banner/bg-jelly-fish-para_outras_pags.png');
    background-size: cover;
}

.banner .container {
    height: 400px;
    font-size:36px;
    justify-content: center;
    align-items:center;
}

.quadrado{
    background-color: rgb(203, 201, 201);
    height: 300px;
    width: 350px;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
}


.letras{
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: #E6005A;
}

.tamanho{
    margin-left: 50px;
    margin-bottom: 0;
    margin-top: 0%;
    font-size:x-large;
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    color: #E6005A;
}

.input{
    border: 0cap;
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 20px;
    margin:0;
 
}

.button {
    color: white;
    margin-top: 12px;
    background-color: #E6005A;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 80px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    }

.footer {
    background-color: #32b9cd;
    width: 100%;
    height: 10%;
    margin: 0;  
}

.footer p{
    width: 100%;
    height: 8vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content:flex-end;
    color: white;
}